<h1 style="
  color: #e8c1e1;
  font-family: 'Brush Script MT', cursive;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">{{ .Site.Params.author }}</h1>
{{ if reflect.IsSlice .Site.Params.info }}
<h2 style="
  color:#f81426;
  font-family: 'Brush Script MT', cursive;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">{{ range .Site.Params.info }}{{ . | markdownify }}<br>{{ end}}</h2>
{{ else }}
<h2 style="
  font-family: 'Brush Script MT', cursive;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: #f81426;">{{ .Site.Params.info | markdownify }} </h2>
{{ end }}
<input type="text" style="display: none;" id="input-acceso" placeholder="Código de Acceso"><br>
<button class="btn btn-open">Ver Invitación</button>
